each sops,k in data.sopData
	table(class="table table-bordered todoTable") 
		thead
			tr
				th(colspan="4")
					| #{sops.typeName}
			tr
				th(width="100")
					| 狀態
				th(width="150")
					| 時間
				th
					| 項目名稱
				th
					| 備註
			each sopList,slk in sops.list
				tr
					td
						if sopList.done == true
							| #{sopList.name}
						else
							input(type="checkbox" name="workItem_"+slk value=sopList.F_D2_SEQ)
					td
						div(class="input-group")
							input(type="text" class="form-control " name="OT_TIME_"+slk readonly aria-describedby="sizing-addon2" value=sopList.F_OT_TIME)
					td
						div(class="input-group")
							input(type="text" class="form-control" name="OT_ATTINFO_"+slk readonly aria-describedby="sizing-addon2" value=sopList.F_OT_ATTINFO)
					td
						div(class="input-group")
							input(type="text" class="form-control" name="OT_COMMENT_"+slk readonly=sopList.done?true:false aria-describedby="sizing-addon2" value=sopList.comment)